.contacts__top {
  padding-bottom: 77px;
}

.contacts__faq {
  max-width: 880px;
  margin: 158px auto;
  display: flex;
  flex-direction: column;
}

.contacts__faq-text {
  font-size: 20px;
  line-height: 30px;
}

.contacts__faq-list {
  margin-top: 33px;
}

.contacts__faq-item {
  font-size: 36px;
  line-height: 45px;
  font-weight: 500;
  border-top: 1px solid #000000;
  padding: 34px 0 36px;
  cursor: pointer;
}
