.header__bg {
  background-color: #edf7ff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.header__logo {
  max-width: 130px;
  max-height: 23px;
}

.header__nav {
  display: flex;
  flex-grow: 0.6;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-item {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;

  & + & {
    margin-left: 35px;
  }
}

.header__reg {
  width: 140px;
  height: 40px;
  margin-right: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background-color: transparent;
  border: 1px solid #8d96a4;
  transition: all 0.3s ease;

  &:hover {
    color: #ff5b22;
    border: 1px solid #ff5b22;
  }
}

.header__propose {
  width: 215px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background-color: #ff5b22;
  border: 1px solid #ff5b22;
  transition: all 0.3s ease;

  &:hover {
    background-color: #e93d02;
    border: 1px solid #e93d02;
  }
}
