.menu__hover {
  height: 0;
  min-width: 100%;
  position: fixed;
  z-index: 10;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: red;
}

.menu {
  position: static;
  min-width: 252px;
  width: 100%;
  background-color: #ffffff;
  height: 425px;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.menu__blue {
  background-color: #edf7ff;
}

.menu__list {
  padding: 3px 0;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: #ff5b22;
  }

  &:last-child {
    margin-bottom: 20px;
  }
}

.menu__list-link {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
